<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/chat.css">
</head>
<body>
    <nav>
        <img class="logo" src="./style/Images/chat.jpg" alt="">
    </nav>

    <div class="container1">
        
        <!-- <div class=" message right">Shashi: Hey how are you?</div>
        <div class=" message left">Sharde: I am fine. What about you?</div> -->
    </div>
    <div class="send">
        <form id="send-container" onsubmit="sendMessage(event)" action="/"  method="POST" >
            <input type="text" name="messageInp" id="messageInp">
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="./js/Chat.js"></script>
</body>
</html>