<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Public/css/style.css">
</head>
<body>
    <form id="register" onsubmit="userDetails(event)" action="/" method="POST">
    <div class="container" id="absolute">
        <div class="brand-logo"></div>
        <div class="brand-title">GPCHAT</div>
        <div class="inputs">
            
            <label>NAME</label>
            <input type="text" placeholder="@user_name" />
           
          <label>EMAIL</label>
          <input type="email" placeholder="example@test.com" />
          <button type="submit">Submit</button>   
        </div>
        
        <div class =ProfRefer>
            <a href="https://github.com/shashi-sharde/Project-Group-Chat">MADE BY SHASHI</a>
        </div>
      </div>
    </form>
</body>
</html>