<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER PAGE</title>
    <link rel="stylesheet" href="./public/signup.css">
</head>
<body>
        <div class="container">
    <h2>REGISTER NOW</h2>
    
    <form class="submission-form" onsubmit="signup(event)">
        <input type="text" name="name"  placeholder="ENTER YOUR NAME"required /><br>
        <input type="email" name="email" placeholder="ENTER YOUR EMAIL ID" /><br>
        <input type="number" name="phonenumber" placeholder="PHONENUMBER"  /><br>
        <input type="password" name="password" placeholder="PASSWORD"required /><br>
        <br>
        <button class="btn1">REGISTER</button><br>
        <a style="color: #2fb185" href="./login.html">EXISTING USER? >>>>LOGIN </a>
    </form>
</div>
    



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/Signup.js">
    
</script>
</body>
</html>